<div class="container" style="padding: 0px;">
  <div class="row">
    <div class="col-sm-9">
      <h1 class="card-title">Minhas Reservas:</h1>
    </div>
  </div>
  <br>
  <div class="row" *ngFor="let reserva of reservas">
    <div class="col-sm-9">
      <div class="card border-info">
        <div class="card-body">
          <p>Data: {{reserva.data_compra | date:'dd/MM/yyyy'}}</p>
          <h6>Conteúdo</h6>
          <p>{{reserva.itens_pacote}}</p>
          <h6>Preço total: R$ {{reserva.preco_total}},00</h6>
        </div>
      </div>
    </div>
  </div>
</div>