<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container-fluid">
    <!-- lado esquerdo -->
    <a class="navbar-brand" href="#">GoFar</a>
    <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Passagens Aéreas </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/hoteis']">Hotéis</a>
        </li>
      </ul>


    <!-- lado direito -->

      <div *ngIf="loggedIn()" class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['/carrinho']"><span class="pi pi-shopping-cart" style="font-size: 1em"></span> Carrinho</a>
      </div>
      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a class="dropdown-toggle text-dark" dropdownToggle >
          Bem-vindo 
        </a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Editar perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
        </div>
      </div>  
      <div *ngIf="!loggedIn()" class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
      </div>
    </div>
  </div>
</nav>