 .busca {

margin-left: -65px;
margin-right: -65px;
margin-top: 25px;
margin-bottom: 25px;
background-color: rgba(255, 196, 0, 0.986);
padding: 10px;
}

.treetableDate .ui-widget-content{
    width: 150%; 
}

