<form>
  <div class="form-row busca">
    <div class="col-3">
      <small>Origem</small>
      <input type="text" class="form-control" placeholder="De onde vai sair?">
    </div>

    <div class="col-3">
      <small>Destino</small>
      <input type="text" class="form-control" placeholder="Pra onde vai?">
    </div>

    <div class="col-2">
      <small>Data Ida</small>                  
       <input type="date" class="form-control">
      
    </div>

    <div class="col-2">
      <small>Data Volta</small>                  
      <input type="date" class="form-control "> 
    </div>

    <div class="col-2">
     <br> 
      <button type="submit" class="btn btn-block btn-dark">Buscar</button>
    </div>
  </div>
</form>