.jumbotron-with-background {
    background-image: url('../../assets/images/Flights.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black
}