
<div class="container" style="padding: 0px;">
  <div class="jumbotron jumbotron-fluid jumbotron-with-background bg-cover">
    <div class="overlay"></div>
      <div class="container">
      <h1 class="display-4">Encontre aqui os melhores pacotes para você e a sua família!</h1>
      <p class="lead">Confira as promoções incríveis que temos para pacotes com tudo incluso!</p>
      </div>
  </div>
</div>


<div class="container" style="padding: 0px;">

    <!-- Busca hoteis -->
  <app-busca-hoteis (respostaBusca)='buscar($event)' [sePacotes]="true"></app-busca-hoteis>
  <br>

  <div *ngFor="let voo of voos; let i = index" class="row">
    <div *ngIf="voos && hoteis" class="col-md-12">
        <div class="card border-info">
          <h5 class="card-header">Confira {{hoteis[i] ? hoteis[i].noites : 0}} dias em {{voo.cidadeDestino}} em Hotel {{hoteis[i] ? (hoteis[i].nota | number : '1.0-0') : 0 | number : '1.0-0' }} estrelas</h5>
          <div class="card-body">
            <div class="float-left w-25">
              <h5>Por apenas R$ {{(voo.precoTotal + (hoteis[i] ? hoteis[i].preco : 0))}},00 </h5>
              <br> 
              <h6 class="card-title"><i class="fa fa-bed" style="font-size: 1em"></i>{{hoteis[i] ? hoteis[i].quartos : 0}} Quarto(s)</h6>
              <br>
              <h6 class="card-title"><span class="pi pi-user" style="font-size: 1em"></span> {{hoteis[i] ? hoteis[i].adultos : 0}} Adulto(s)</h6>
            </div>
            <div class="float-left w-25">
              <img [src]="hoteis[i] ? hoteis[i].fotoUrl : '' " class="card-img-top p-2" alt="foto">
            </div>
            <div class="float-left w-25">
              <h6 class="card-title">Partindo de:</h6>
              <h6 class="card-subtitle mb-2 text-muted">Aeroporto {{voo.origemIda}} <br> {{voo.companhiaIda}}</h6>
              {{voo.origemSiglaIda}} <span class="pi pi-arrow-right" style="font-size: 1em"></span> {{voo.destinoSiglaIda}}
            </div>
            <div class="float-left w-25">
              <h6 class="card-title">Para: </h6>
              <h6 class="card-subtitle mb-2 text-muted">Aeroporto {{voo.origemVolta}} <br> {{voo.companhiaVolta}}</h6>
              {{voo.origemSiglaVolta}} <span class="pi pi-arrow-right" style="font-size: 1em"></span> {{voo.destinoSiglaVolta}}
              <br>
              <br><br>
              <button type="button" class="btn btn-md btn-info mt-auto" (click)="openModal(template,voo,hoteis[i])">Ver mais detalhes</button>
            </div>
          </div>
        </div>
    </div>
  </div>



<!-- Modal suspenso com o Voo selecionado -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Garanta já sua viagem para {{vooSelecionado.cidadeDestino}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h6 class="mb-2 text-muted"> Informações sobre o voo:  </h6>
    Partindo de: {{vooSelecionado.origemIda}}
    <h6>{{vooSelecionado.origemSiglaIda}} <span class="pi pi-arrow-right" style="font-size: 1em"></span> {{vooSelecionado.destinoSiglaIda}}</h6>
    Data e horário: {{vooSelecionado.dataIda}}
    <br><br>
    <div>
      Voltando de: {{vooSelecionado.origemVolta}}
      <h6>{{vooSelecionado.origemSiglaVolta}} <span class="pi pi-arrow-right" style="font-size: 1em"></span> {{vooSelecionado.destinoSiglaVolta}}</h6>
      Data e horário: {{vooSelecionado.dataVolta}}
    </div>
  </div>

  <div class="modal-body">
    <h6 class="mb-2 text-muted"> Informações sobre o hotel:  </h6>
    <h6 class="card-title">Hotel {{hotelSelecionado.nome}} </h6>
    <h6 class="mb-2 text-muted"> Nota {{hotelSelecionado.nota}}  </h6>
    Localizado em: {{hotelSelecionado.local}}
    <br>
    <h6 class="card-title"><i class="fa fa-bed" style="font-size: 1em"></i>{{hotelSelecionado.quartos}} Quarto(s)</h6>
    <h6 class="card-title"><span class="pi pi-user" style="font-size: 1em"></span> {{hotelSelecionado.adultos}} Adulto(s)</h6>
    <br>
    <h6 class="mb-2 text-muted"> Valor total </h6>
    <h4>R$ {{vooSelecionado.precoTotal + hotelSelecionado.preco}},00</h4>

      <br>
      <button type="button" class="btn btn-info" [routerLink]="['/carrinho']" (click)="addCarrinho()">Adicionar ao carrinho</button>
  </div>
</ng-template>
</div>